@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

.content, section, .footer {
    margin: 0 120px;
}
body, p, h2, h1{
    margin: 0;
    padding: 0;
}

.order-now{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35B8BE;
    padding: 14px 0;
}
html { overflow-x: hidden; }

.order-now__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 20px;
}
.order-now__link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 120px;
}
.logo{
    margin-left: 122px;
}
.menu__ul{
    display: flex;
    position: relative;
    justify-content: space-between;
    list-style-type: none;
    min-width: 362px;
    padding: 0;
    margin: 22px 0;
}
.menu__li{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #28224B;
    margin: 0 16px;
    display: flex;
    align-items: center;
}
.menu__button{
    min-width: 55px;
    height: 55px;
    padding: 0;
    margin-left: 14px;
    background-color: #35B8BE;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    position: relative;
}
.cart__number{
    position: absolute;
    background-color: white;
    left: 38px;
    top: -8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.deliver{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 152px auto;
    flex-wrap: wrap;
}
.deliver-left-block{
    padding-top: 57px;
    width: 610px;
}
.deliver__img{
    padding-right: 56px;
}
.left-block__header{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 2px;
    color: #08090A;
    padding-bottom: 27px;
}
.left-block__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.36px;
    color: #546285;
    padding-bottom: 53px;
}
.left-block__button{
    width: 193px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #35B8BE;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 5px;
}
.left-block__rating{
    display: flex;
    flex-direction: column;
}
.left-block__trustpilot{
    display: flex;
    justify-content: left;
    margin-bottom: 12px;

}
.left-block__a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #35B8BE;
    text-decoration: none;
}
.left-block__reviews{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #08090A;
}


.about-us{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 134px;
    padding-bottom: 129px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.about-us-right-block{
    padding-left: 85px;
}
.about-us-left-block{
    display: flex;
    flex-direction : column;
    align-items: flex-start;
    width: 614px;
}
.about-us-left-block__h1{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
    padding: 151px 0 29px 0;
}
.about-us-left-block__text, .call-us-left-block__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
    margin-bottom: 47px;
}
.about-us__button{

    width: 193px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #35B8BE;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 5px;
}


.how-it-works{
    margin-bottom: 128px;
}
.how-it-works__header{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 1.65px;
    color: #35B8BE;
    margin-top: 140px;
    margin-bottom: 66px;
}

.how-it-works__steps{
    display: flex;
    justify-content: center;
}
.steps__column{
    display: flex;
    flex-direction: column;
}
.steps__header{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.66px;
    color: #08090A;
    margin-top: 48px;
    margin-bottom: 15px;
}
.steps__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #546285;
}
.strip{
    width: 100px;
    height: 1px;
    background-color: #D1CDCD;
    align-self: center;
    margin-bottom: 137px;
}

.burgers{
    background-color: #F5FBFC;
}
.burgers__top-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 154px;
}
.variations__header{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 1.65px;
    color: #35B8BE;
    margin-bottom: 26px;
}
.variations__text{
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #546285;
    margin-bottom: 50px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.buttons__blue{
    width: 147px;
    height: 52px;
    border-radius: 6px ;
    background-color: #35B8BE;
    border: none;
    cursor: pointer;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #222222;
}
.buttons__white{
    width: 147px;
    height: 52px;
    border-radius: 6px ;
    background-color: white;
    border: 1px rgba(97, 114, 131, 0.2) solid;
    margin-left: 30px;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #222222;

    transition: background-color 1s;
}
.buttons__white:hover{
    background-color: #35B8BE;
}


.first-burger__block{
    padding-top: 6px;
}
.burgers__menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 20px 20px;
    margin-bottom: 65px;
}
.first-burger{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-left: 10px;

}
.second-burger{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-right: 10px;

}
.third-burger{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 10px;

}
.fourth-burger{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-right: 10px;

}
.fifth-burger{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin-left: 10px;

}
.sixth-burger{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin-right: 10px;

}
.burger-list{
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}
.burger-list__buttons{
    display: flex;
    justify-content: flex-start;
}
.burger-list__first-button{
    border-radius: 6px;
    border: 1px #FAFAFA solid;
    width: 60px;
    height: 45px;
    cursor: pointer;
    background: #FAFAFA;
}
.burger-list__second-button{
    border-radius: 6px;
    border: none;
    width: 115px;
    height: 45px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #000000;
    cursor: pointer;
    background: #35B8BE;
    margin-left: 8px;
}
.burger-list__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #546285;
    margin-bottom: 8px;

}
.burger-list__header{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #08090A;
    margin-bottom: 18px;
}
.burger-list__img{
    margin: 0 29px 0 26px;
}
.burger-list{
    position: relative;
    border: 1px solid rgba(53, 184, 190, 0.15);
}
.burger-list__price{
    position: absolute;
    right: 26px;
    top: 37px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #35B8BE;
}
.burgers__button{
    display: flex;
    justify-content: center;
}
.burgers__full-menu{
    height: 60px;
    width: 186px;
    border-radius: 6px;
    background: #35B8BE;
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 140px;
    cursor: pointer;
}


.support{
    margin: 47px 43px 43px 43px;

    display: flex;
    justify-content: center;
}
.support__right-block {
    width: 666px;
    height: 640px;
    background-color: #35B8BE;
}
.right-block{
    margin: 212px 0 0 60px;
}
.support__left-block{
    margin-right: 20px;
}
.right-block__button{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #35B8BE;
    height: 60px;
    width: 162px;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.right-block__header{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 60px;
    margin-bottom: 52px;
    color: #FFFFFF;
}



.map{
    padding: 96px 0 120px 0;

    display: flex;
    justify-content: space-between;
}
.map__p{
    margin-top: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
}
.column-menu{
    display: flex;
    justify-content: space-between;
}
.column-menu__block{
    height: 210px;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column-menu__h1{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #08090A;
}
.column-menu__h2{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #546285;
}
.map-strip{
    width: 100%;
    height: 1px;
    background: rgba(126, 130, 143, 0.09);
}

.who-built{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}
.who-built__built-by{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #353448;
}
.who-built__icons{
    display: flex;
    justify-content: space-around;
    width: 192px;
}


.order-online{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 117px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.order-online-left-block{
    padding-left: 52px;
}
.order-online-right-block{
    display: flex;
    flex-direction : column;
    align-items: flex-start;
    width: 578px;
}
.order-online-right-block__h1{
    margin-top: 140px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
}
.order-online-right-block__text{
    margin-top: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
    margin-bottom: 46px;
}
.order-online-right-block__button{

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    height: 60px;
    width: 172px;
    border-radius: 6px;
    border: none;
    background-color: #35B8BE;
    cursor: pointer;
}


.call-us{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 157px;
    padding-bottom: 134px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.call-us-left-block{
    display: flex;
    flex-direction : column;
    align-items: flex-start;
    width: 600px;
}
.call-us-left-block__h1{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
    padding: 102px 0 29px 0;
}
.call-us__button{
    width: 225px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #35B8BE;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 5px;
}
#burger1{
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}
#burger{
    display: none;

}

.hidden-text{
    position: absolute;
    display: none;
    background-color: white;
    top: 58px;
    right: 4px;
    width: 250px;
    height: 400px;
    border-radius: 6px;
    border: 2px #35B8BE solid;
}
#burger:checked ~ .hidden-text{
    display: block;
    color: red;
}

.hidden-menu__ul{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
    height: 100%;
    box-sizing: border-box;

}
.hidden-menu__li{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #28224B;
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.underline{
    transition: border-bottom;
    display: flex;
    text-decoration:none;
}
.phone{
    text-decoration:none;
    color: #35B8BE;
}
.phone-button{
    text-decoration:none;
    color: white;
}
.a{
    text-decoration: none;
}
.hover-button, .a{
    transition: color 0.5s;
}
.a:hover{
    color: #35B8BE;
}
.hover-button:hover{
    color: white;
}
.underline:hover{
    border-bottom: #35B8BE 1px solid;
    margin-bottom: -1px;
}